<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Chat</title>
</head>
<body>
    <h1>Chat using SocketIO</h1>
    <ul id="messages"></ul>
    <form id="form" action="">
        <bold>Write message here: </bold>
        <br>
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(msg){
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);
        });

        document.getElementById('form').onsubmit = function(e) {
            e.preventDefault();
            socket.emit('message', document.getElementById('input').value);
            document.getElementById('input').value = '';
        };
    </script>
</body>
</html>
